// chats.tmpl
// Это файл с шаблоном, здесь мы разрешаем комментарии вида `//`

<div class="{{ wrapperClassName }}">
    <div class="chat__button">
        <button class="button">
            <span>{{ buttonText }}</span>
        </button>
    </div>

    <ul class="{{ chatListClassName }}">
        {{ chatListItems }}
    </ul>
</div> 